@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUpLight {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-4rem);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  98% {
    opacity: 0;
  }
}

@keyframes changeColor {
  0% {
    fill: $color-white;
  }
  50% {
    fill: $color-white;
  }
  100% {
    fill: $color-primary-dark;
  }
}

@keyframes logoTranslation {
  0% {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 11.2rem;
    transform: translate(-50%, 0);
  }
}

@keyframes activate {
  from {
    display: none;
  }
  to {
    display: flex;
  }
}
