.u_margin-top-xs {
  margin-top: 0.8rem;
}

.u_margin-top-s {
  margin-top: 1.6rem;
}

.u_margin-top-m {
  margin-top: 2.4rem;
}

.u_margin-top-ml {
  margin-top: 4rem;
}

.u_margin-top-l {
  margin-top: 6.4rem;
}

.u_margin-top-xl {
  margin-top: 8rem;
}

.u_margin-top-xxl {
  margin-top: 12rem;
}

.u_margin-bottom-xs {
  margin-bottom: 0.8rem;
}

.u_margin-bottom-s {
  margin-bottom: 1.6rem;
}

.u_margin-bottom-m {
  margin-bottom: 2.4rem;
}

.u_margin-bottom-ml {
  margin-bottom: 4rem;
}

.u_margin-bottom-l {
  margin-bottom: 6.4rem;
}

.u_margin-bottom-xl {
  margin-bottom: 8rem;
}

.u_margin-bottom-xxl {
  margin-bottom: 12rem;
}

.u_show-on-mobile {
  display: none;

  @include respond(phone) {
    display: block;
  }
}

.u_show-on-desktop {
  display: block;

  @include respond(phone) {
    display: none;
  }
}

.u_show-on-desktop--inline {
  display: inline;

  @include respond(phone) {
    display: none;
  }
}

.u_show-on-tab {
  display: none;

  @include respond(tab-port) {
    display: block;
  }
}

.u_hide-on-tab--inline {
  display: inline;

  @include respond(tab-port) {
    display: none;
  }
}

.u_flex-center {
  align-items: center;
  justify-content: center;
}

.u_flex-baseline {
  align-items: baseline;
}

.u_separator-bottom {
  padding-bottom: 8rem;
  margin-bottom: 6.4rem;
  //border-bottom: 1px $color-grey-light solid;
}

.u_visible {
  opacity: 1;
  visibility: visible;
}

.u_hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
