//colors
$color-white: #f5f9fc;
$color-primary-dark: #2b303a;
$color-primary-medium: #505a62;
$color-primary-light: #e0e6eb;
$color-accent: #c7a27c;

//font families
$font-default: "Montserrat", sans-serif;
